body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #0074d9;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
}

.project-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project-card img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
img{
    width: 150;
    height: 150;
    border-radius: 50;
}